.container{
    // max-width: 1300px;
    // background-color: #008DD5;
}

.btn-warning{
    color: #1c2a33;
}

.list-group-item.active{
    background-color: #1c2a33;
    border-color:#1c2a33;
}

.form-check-input:checked{
    background-color: #1c2a33;
}

.page-item.active .page-link{
    border-color:#1c2a33;
    background-color: #1c2a33;
}

.page-link{
    color: rgb(28, 42, 51);
}

.card .img-thumbnail{
    height: 200px;
}

.well {
    background-color: rgba(245, 245, 245, 0.4);
 }

 .img-thumbnail{
     height: 400px;
 }

.img-thumbnail-like{
    height: 230px;
}

