.container{
    // max-width: 1300px;
    // background-color: #008DD5;
}

.btn-warning{
    color: #1c2a33;
}

.list-group-item.active{
    background-color: #2C2C2D;
    border-color:#2C2C2D;
}

.form-check-input:checked{
    background-color: #2C2C2D;
}

.page-item.active .page-link{
    border-color:#2C2C2D;
    background-color: #2C2C2D;
}

.page-link{
    color: #2C2C2D;
}

.card .img-thumbnail{
    height: 200px;
}

.well {
    background-color: rgba(245, 245, 245, 0.4);
 }

 .img-thumbnail{
     height: 320px;
 }

.img-thumbnail-like{
    height: 200px;
}

.card .el-rate__text{
    font-size: large;
}


