<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel="stylesheet" href="scss/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>旋轉購物車</title>
</head>

<body>

    <!-- 導覽列 -->
    <div id="nav">
        <a href="home.html">
            <img src="images/icon_1.png" alt="hopsellIcon" id="hopsellIcon">
        </a>
        <a href="#">
            <div id="registerDiv">
                <p id="registerText">註冊</p>
            </div>
        </a>
        <a href="#">
            <div id="loginDiv">
                <p id="loginText">登入</p>
            </div>
        </a>
    </div>
    <!-- 搜尋列 -->
    <div id="searchNav">
        <a href="home.html"></a>
        <img src="images/logo_1.png" alt="hopsellLogo" id="hopsellLogo">
        </a>
        <div id="searchBar">
            <input placeholder="搜尋商品" type="search" id="searchPlaceholder">
            <div id="searchButton">
                <i class="fi-rr-search" id="fi-rr-search"></i>
            </div>
            <a href="#">
                <div id="sellButton">
                    <p id="sellText">出售</p>
                </div>
            </a>
        </div>
    </div>

    <!-- 內容 下 -->


    <div id="app">
        <div id="app" class="container my-3">
            <div>
                <h1>Todo List</h1>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">待辦事項</span>
                <input class="form-control" type="text" id="newTodo" placeholder="準備要做的任務" v-model="newTodo"
                    @keyup.enter="addList">
                <button class="btn btn-primary" type="button" id="addTodo" @click="addList" alt="測試">新增</button>

            </div>
            <div class="card text-center">
                <ul class="list-group list-group-flush text-left" id="todoList" v-for="item in filterList"
                    :key="item.id">
                    <li class="list-group-item">
                        <div class="d-flex">
                            <div class="form-check">
                                <input v-if="cacheList.id === item.id" v-model="cacheList.text" class="form-control"
                                    type="text" />
                                <div v-else>
                                    <input :id="item.id" type="checkbox" class="form-check-input"
                                        @click="item.completed = !item.completed" :checked="item.completed">
                                    <label :for="item.id"
                                        :class="item.completed ? 'completed' : '' ">{{item.text}}</label>
                                </div>
                            </div>
                            <div class="btn-group ms-auto">
                                <button v-if="cacheList.id === item.id" type="button" class="btn btn-success me-3"
                                    @click="doneEdit">編輯完成</button>
                                <button v-else type="button" class="btn btn-primary me-3"
                                    @click="editList(item)">編輯任務</button>
                                <button type="button" class="btn btn-danger ms-auto remove"
                                    @click="removeList(item)">刪除</button>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="card-footer d-flex justify-content-between">
                    <span>有 <span class="h4" id="taskCount">{{todoList.length}}</span> 筆任務</span>
                    <span>有 <span class="h4" id="taskCount">{{completedLength}}</span> 筆已完成</span>
                    <div>
                        <a href="#" class="btn btn-outline-primary me-3" @click="visibility = 'all' ">全部</a>
                        <a href="#" class="btn btn-outline-secondary me-3" @click="visibility = 'undone' ">未完成</a>
                        <a href="#" class="btn btn-outline-success me-3" @click="visibility = 'completed' ">已完成</a>
                        <a href="#" class="btn btn-outline-danger" @click='removeAllList'>清除所有任務</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 刪除 -->
    <div class="modal fade" id="removeModal" tabindex="-1" aria-labelledby="removeModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h3 class="modal-title"></h3> <!-- 標題 -->
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="h5 text-secondary fw-bold text-center"><i class="bi bi-trash-fill"></i>商品已從購物車刪除</p>
                </div>
                <!-- <div class="modal-footer"><button type="button" data-dismiss="modal"
                        class="btn btn-secondary btn-sm">取消</button><button type="submit"
                        class="btn btn-outline-danger btn-sm">確認刪除</button></div> -->
            </div>
        </div>
    </div>













    <script src="bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
    <script src="bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="./js/data.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>


        Vue.createApp({
            data() {
                return {
                    newTodo: '',
                    visibility: 'all',
                    todoList: [],
                    cacheList: [],
                }
            },
            methods: {
                // 新增資料
                addList() {
                    // 如果空白 return
                    if (this.newTodo == '') { return };
                    this.todoList.push({
                        // id: this.todoList.length + 1,    // 數值
                        id: Date.now(),                     // 時間
                        text: this.newTodo,
                        completed: false,
                    });
                    localStorage.setItem('歷史任務', JSON.stringify(this.todoList));
                    this.newTodo = "";
                },
                // 移除資料
                removeList(item) {
                    const index = this.todoList.findIndex(obj => obj.id === item.id);
                    console.log(item.id);
                    this.todoList.splice(index, 1);
                },
                // 移除所有資料 
                removeAllList() {
                    swal('任何一个傻瓜都会用电脑')
                    if (window.confirm('你確定要刪除全部 Todo?')) {
                        localStorage.removeItem('歷史任務');
                        this.todoList = [];
                    }
                },
                // 編輯資料
                editList(item) {
                    if (item.completed == true) { return; } //已完成就不能編輯
                    this.cacheList = { ...item };
                },
                // 編輯完成
                doneEdit() {
                    const index = this.todoList.findIndex(obj => obj.id === this.cacheList.id);
                    // 把資料寫回索引
                    this.todoList[index] = this.cacheList;
                    // 清空緩存
                    this.cacheList = [];
                }
            },
            computed: {
                // 過濾列表
                filterList() {
                    switch (this.visibility) {
                        case 'all': return this.todoList;
                        case 'undone': return this.todoList.filter((item) => !item.completed);
                        case 'completed': return this.todoList.filter((item) => item.completed);
                    };
                },
                // 已完成數量
                completedLength() {
                    return this.todoList.filter((item) => item.completed).length;
                },
            },
            mounted() {
                this.todoList = JSON.parse(localStorage.getItem('歷史任務')) || [];
            },
            // 監聽 todoList
            watch: {
                todoList: {
                    handler() {
                        localStorage.setItem('歷史任務', JSON.stringify(this.todoList));
                    },
                    deep: true,
                }
            }
        }).mount('#app');
    </script>

    </script>



</body>

</html>