<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>跳跳市集 登入</title>
	<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
	<link rel="stylesheet" href="scss/all.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body>
	<section class="h-100" id="app">
		<div class="container h-100">
			<div class="row justify-content-sm-center h-100">
				<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
					<div class="text-center my-5">
						<img src="images/logo_1.png" alt="logo" width="200">
					</div>
					<div class="card shadow-lg">
						<el-form class="card-body p-5" :rules="rules" ref="form" :model="form">
							<h1 class="fs-4 card-title fw-bold mb-4">登入</h1>
							<el-form-item class="mb-3" prop="userAccount">
								<label class="text-muted" style="font-size: 1rem;">使用者名稱</label>
								<el-input size="large" prefix-icon="el-icon-user-solid" v-model="form.userAccount"></el-input>
							</el-form-item>
							<el-form-item class="mb-3" prop="password">
								<label class="text-muted" style="font-size: 1rem;">密碼</label>
								<a href="forgot.html" class="float-end"> 忘記密碼? </a>
								<el-input prefix-icon="el-icon-lock" v-model="form.password" @keyup.enter="login" show-password>
								</el-input>
							</el-form-item>
							<el-form-item class="text-end mt-4">
								<el-button @click="login" style="background-color: #2C2C2D;color: #fff;">登入</el-button>
							</el-form-item>
						</el-form>
						<div class="card-footer py-3 border-0">
							
							<div class="text-center">
								沒有帳號? <a href="register.html" class="text-dark">註冊一個</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-------------------- END APP----------------------->
	</section>

	<!-- bootstrap JS CDN-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<!-- Vue CDN -->
	<script src="https://unpkg.com/vue@next"></script>
	<!-- Jquery CDN -->
	<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
	<!-- axios -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
		integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<!-- 引入樣式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-plus@1.0.2-beta.71/lib/theme-chalk/index.css">
	<!-- 引入組件庫 -->
	<script src="https://unpkg.com/element-plus@1.0.2-beta.71/lib/index.full.js"></script>
	<!-- sweetalert2 -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<script>
		const app = Vue.createApp({
			data() {
				return {
					text: "測試",
					baseUrl: 'https://a7cf-111-246-241-209.ngrok.io',
					form: {},
					// 驗證內容
					rules: {
						userAccount: [{ required: true, message: '請輸入使用者名稱', trigger: 'blur' }],
						password: [{ required: true, message: '請輸入密碼', trigger: 'blur' }],
					}
				};
			},
			methods: {
				// 登入
				login() {
					this.$refs['form'].validate((valid) => {
						if (!valid) { return }
						axios.post(`${this.baseUrl}/user/login`, this.form).then(res => {
							// res錯誤
							if (res.data.code !== '0') return Swal.fire(res.data.msg, '', 'error')
							// res成功
							Swal.fire('登入成功', '', 'success')
							// 緩存用戶資料 
							sessionStorage.setItem("user", JSON.stringify(res.data.data))
							if (this.form.userAccount == "admin") {
								// 如果是管理員，跳轉後台
								setTimeout(() => { window.location.href = "admin_manage.html" }, 2000)
							} else {
								// 登入成功之後，跳轉到主頁
								setTimeout(() => { window.location.href = "home.html" }, 2000)
							}
							this.form = {};
						})
					})
				},
			},
		});
		app.use(ElementPlus);
		app.mount('#app');

	</script>






</body>

</html>