<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--ICON CDN-->
	<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
	<!--CSS-->
	<link rel="stylesheet" href="scss/all.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<title>跳跳商品詳情</title>
</head>

<body class="mt-5">
	<div id="app">
		<!-- 導覽列 -->
		<header class="bg-secondary text-white fixed-top">
			<div class="container">
				<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
					<!--LOGO-->
					<a class="navbar-brand" href="home.html">
						<img class="bi me-2" src="images/icon_1.png" alt="hopsellIcon" width="30" height="30">
					</a>
					<!--商品分類-->
					<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
						<li><a href="#" class="nav-link px-2 text-white">時尚衣裝</a></li>
						<li><a href="#" class="nav-link px-2 text-white">精品配件</a></li>
						<li><a href="#" class="nav-link px-2 text-white">3C家電</a></li>
						<li><a href="#" class="nav-link px-2 text-white">書籍雜誌</a></li>
						<li><a href="#" class="nav-link px-2 text-white">娛樂休閒</a></li>
						<li><a href="#" class="nav-link px-2 text-white">居家生活</a></li>
					</ul>
					<!-- 登出按鈕 -->
					<div class="text-end" v-if="userData.userId != null">
						<i href="" class="">
							<el-image class="rounded-circle" :src="userData.userImg" alt="Icon"
								style="height: 30px;height: 30px; top: 9px; right: 5px;">
							</el-image>
						</i>
						<span class="dropdown">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
								data-bs-toggle="dropdown" aria-expanded="false">
								{{userData.userAccount}}
							</button>
							<ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton2">
								<li><a class="dropdown-item" href="user_settings.html"><i class="bi bi-gear pe-2"></i>用戶設定</a>
								</li>
								<li>
									<button class="dropdown-item" type="button" @click="logout">
										<i class="bi bi-box-arrow-right pe-2"></i>登出</button>
								</li>
							</ul>
						</span>
						<a type="button" class="btn btn-secondary bi bi-shop" @click="toUserStore"></a>
						<a href="user_favorite.html" class="btn btn-secondary"><i class="bi bi-heart"></i></a>
					</div>

					<!--登入按鈕-->
					<div class="text-end" v-else>
						<a href="login.html" type="button" class="btn btn-secondary ">登入</a>
						<a href="register.html" type="button" class="btn btn-secondary">註冊</a>
					</div>
				</div>
			</div>
		</header>
		<!-- 搜尋列 -->
		<div class="navbar ">
			<div class="container">
				<!--LOGO-->
				<a href="home.html"><img src="https://upload.cc/i1/2021/08/13/xDSmVg.png" alt="hopsellIcon" height="32"></a>
				<!--搜尋-->
				<div>
					<div class="container-fluid">
						<div class="d-flex">
							<input v-model="search" @keyup.enter="toSearch" class="form-control" placeholder="搜尋商品"
								style="width: 30rem;">
							<button @click="toSearch" class="bi bi-search bg-white border-0 ms-1"></button>
						</div>
					</div>
				</div>
				<div class="d-flex">
					<a type="button" class="btn fw-bold btn-danger px-4 me-2" @click="toUserAdd">出售</a>
				</div>
			</div>
		</div>



		<!-- 內容 圖片 -->
		<div class="container container-fluid mt-3">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-4">
							<el-image :src="data.productImgA" :preview-src-list="[data.productImgA]" lazy
								style="height: 440px; width: 100%;" fit="cover"></el-image>
						</div>
						<div class="col-md-4">
							<el-image :src="data.productImgB" :preview-src-list="[data.productImgA]" lazy
								style="height: 440px; width: 100%;" fit="cover"></el-image>
						</div>
						<div class="col-md-4">
							<el-image :src="data.productImgC" :preview-src-list="[data.productImgA]" lazy
								style="height: 440px; width: 100%;" fit="cover"></el-image>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 內容 文字 -->

		<div class="container">
			<div class="row pt-5 ">
				<div class="col-md-12">
					<div class="row">
						<!-- 左內容 -->
						<div class="col-md-8 ">
							<!-- 商品訊息 -->
							<div>
								<h3>{{data.productName}}</h3>
								<p class="fs-1 text-danger">NT${{data.productPrice}}</p>
								<i class="bi bi-emoji-sunglasses fs-3 m-3"> {{data.productCondition}}</i>
								<i class="bi bi-people-fill fs-3 m-3">{{data.productTrade}}</i>
								<i class="bi bi-geo-alt-fill fs-3 m-3">中彰投</i>
								<hr class="bg-dark border-4 border-top border-dark">
								<i class="bi bi-calendar-event-fill fs-3 m-3">發布日期: {{data.createTime}}</i>
								<p style="white-space: pre-line;min-height: 200px;" class="mt-3">{{data.productContent}}</p>
								<div class="pb-3">
									<button class="btn btn-danger" @click="tobuyProduct">立即購買</button>
								</div>
								<br>
							</div>
							<!-- 評價訊息 -->
							<div style="min-height: 200px;">
								<h3>賣家評價</h3>
								<hr class="bg-dark border-4 border-top border-dark">
								<div v-if="commList.length == 0" class="row">
									<div class="col d-flex flex-column mt-3">
										<p class="fs-5 fw-bold text-center">目前沒有評價喔!</p>
										<p class="fs-6 text-center">找到你的想要賣的商品，開始建立你的拍賣清單吧！</p>
									</div>
								</div>
								<table v-else class="table table-hover table-borderless">
									<thead>
										<tr>
											<th width="110" scope="col">日期</th>
											<th width="200" class="" scope="col">買家</th>
											<th scope="col">購買商品</th>
											<th width="150" scope="col">評等</th>
											<th width="150" scope="col">評價</th>
										</tr>
									</thead>
									<tbody v-for="item in commList">
										<tr>
											<th class="align-middle" scope="row">{{item.commTime}}</th>
											<td><img :src="item.buyerImg" class="rounded-circle" height="50" width="50">
												{{item.buyerName}}</td>
											<td class="text-truncate" style="max-width: 150px;">{{item.productName}}</td>
											<td>
												<el-rate v-model="item.commLevel" disabled show-score text-color="#ff9900">
												</el-rate>
											</td>
											<td class="text-truncate" style="max-width: 150px;">{{item.commContent}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!-- 右功能 -->
						<div class="col-md-4 px-5">
							<div class="card  text-center shadow">
								<el-image :src="data.sellerImg" class="card-img-top img-thumbnail p-1 " fit="cover"></el-image>
								<div class="card-block mt-2 p-2">
									<div type="button" @click="toSellerStore(data.sellerId)">
										<p class="card-title fs-3"> {{data.sellerName}} </p>
									</div>
									<div class="mt-1">
										<el-rate v-model="sellerRate" disabled show-score text-color="#ff9900">
										</el-rate>
									</div>
									<div class="p-2">
										<i class="bi bi-chat-dots-fill m-2 fs-5">很常回覆</i>
										<i class="bi bi-envelope-fill m-2 fs-5">已驗證</i>
									</div>
									<div class="mb-3">
										<label for="exampleFormControlTextarea1" class="form-label"></label>
										<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
											placeholder="留下給賣家的訊息"></textarea>
									</div>
									<div class="card-footer bg-secondary">
										<button type="button" data-bs-toggle="modal" data-bs-target="#addModal"
											class="btn btn-danger btn-block card-btn px-4 fs-6">
											與我聯絡
										</button>
									</div>
								</div>
							</div>
							<div class="d-flex justify-content-center pt-2">
								<button v-if="this.userData.length != 0 " class="btn btn-outline-secondary bi bi-flag"
									type="button" data-bs-toggle="modal" data-bs-target="#reportModal"> Report this
									listing</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-------- 檢舉彈窗 -------->
		<div class="modal fade" id="reportModal" tabindex="-1">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header bg-secondary">
						<h5 class="modal-title text-light" id="reportModalLabel">你為什麼要檢舉這項商品</h5>
						<button type="button" class="btn-close " data-bs-dismiss="modal"></button>
					</div>
					<div class="modal-body">
						<select v-model="reportList.reportReason" class="form-select" name="檢舉內容">
							<option disabled="">請選擇一個選項</option>
							<option value="可疑帳戶">可疑帳戶</option>
							<option value="錯誤分類">錯誤分類</option>
							<option value="仿冒品">仿冒品</option>
							<option value="重複刊登商品">重複刊登商品</option>
							<option value="違禁品">違禁品</option>
							<option value="錯誤標價商品">錯誤標價商品</option>
							<option value="濫用關鍵字">濫用關鍵字</option>
							<option value="冒犯內容">冒犯內容</option>
						</select>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" @click="reportProduct"
							data-bs-dismiss="modal">提交</button>
					</div>
				</div>
			</div>
		</div>



		<!-- 內容 你可能喜歡 -->
		<div>
			<div class="container">
				<div class="row pt-2 ">
					<div class="col-md-12">
						<div class="row">
							<!-- 左內容 商品區 -->
							<div class="col-md-8">
								<h3><i class="bi bi-suit-heart-fill">你可能也喜歡</i></h3>
								<hr class="bg-dark border-4 border-top border-dark">
								<div class="row">
									<!-- v-for -->
									<div v-for="item in storeList" class="col-md-3 mb-3">
										<div class="card pt-1">
											<div class="card-title d-flex">
												<el-image class="rounded-circle m-2" :src="item.sellerImg"
													style="height: 32px; min-width: 32px;" fit="cover"></el-image>
												<div type="button" class="flex-column" @click="toSellerStore(item.sellerId)">
													<span class="">@{{item.sellerName}}</span><br>
													<span class="p-2">{{item.createTime}}</span>
												</div>
											</div>
											<a href="#top" type="button" @click="toProduct(item)">
												<el-image class="card-img-top img-thumbnail-like px-1" :src="item.productImgA"
													fit="cover"></el-image>
											</a>
											<div class="card-block">
												<div class="px-2">
													<p class="card-text fs-6 text-truncate">
														{{item.productName}}
													</p>
												</div>
												<div class="px-2 d-flex flex-column mb-2">
													<div>
														<p class="card-text fs-5 fw-bold text-danger">NT${{item.productPrice}}</p>
													</div>
													<p class="card-text">{{item.productCondition}}</p>
												</div>
												<div class="d-flex justify-content-between">
													<i @click="addFavorite(item)" type="button" class="btn rounded-pill bi btn-sm"
														:class="item.like ? 'bg-white text-danger bi-heart-fill':'bi-heart' ">
													</i>
													<a href="#top" @click="toProduct(item)" type="button"
														class="btn bg-white btn-sm bi bi bi-search">
														詳情</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- 右邊留白 -->
							</div>
							<div class="col-md-4 ">
								<!-- 右邊留白 -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-------------------- END APP----------------------->
	</div>







	<!-- 置底 -->
	<div class="bg-secondary text-light mt-5">
		<div class="container">
			<footer class="d-flex flex-wrap justify-content-between align-items-center py-3  border-top ">
				<p class="col-md-4 mb-0 text-reset">© 2021 Company, Inc</p>

				<a href="/"
					class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
					<svg class="bi me-2" width="40" height="32">
						<use xlink:href="#bootstrap"></use>
					</svg>
				</a>

				<!-- <ul class="nav col-md-4 justify-content-end">
					<li class="nav-item"><a href="#" class="nav-link px-2 text-reset">Home</a></li>
					<li class="nav-item"><a href="#" class="nav-link px-2 text-reset">Features</a></li>
					<li class="nav-item"><a href="#" class="nav-link px-2 text-reset">Pricing</a></li>
					<li class="nav-item"><a href="#" class="nav-link px-2 text-reset">FAQs</a></li>
					<li class="nav-item"><a href="#" class="nav-link px-2 text-reset">About</a></li>
				</ul> -->
			</footer>
		</div>
	</div>










	<!-- bootstrap JS CDN-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<script src="https://unpkg.com/vue@next"></script>
	<!-- Vue CDN -->
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<!-- axios -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
		integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<!-- 引入樣式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-plus@1.0.2-beta.71/lib/theme-chalk/index.css">
	<!-- 引入組件庫 -->
	<script src="https://unpkg.com/element-plus@1.0.2-beta.71/lib/index.full.js"></script>
	<!-- sweetalert2 -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<!-- Vue APP -->
	<script>
		const app = Vue.createApp({
			data() {
				return {
					baseUrl: 'https://fa5c-111-246-240-220.ngrok.io',
					data: {},
					commList: [],
					storeList: [],
					favoriteList: [],
					reportList: {},
					userData: [],
					productId: '',
					sellerId: '',
					search: '',
				}
			},
			methods: {
				// 讀取當前商品資料
				productLoad() {
					axios.get(`${this.baseUrl}/product/${this.productId}`)
						.then(res => { this.data = res.data.data; })
					// this.addressLoad(res.data.data.sellerId)
				},
				// 讀取評價資料
				commLoad() {
					axios.get(`${this.baseUrl}/comm`, { params: { sellerId: this.sellerId } })
						.then(res => { this.commList = res.data.data.records.reverse(); })
				},
				// 購買商品
				tobuyProduct() {
					if (this.userData.length == 0) return Swal.fire('請先登入', '', 'info')
					Swal.fire({
						title: '確定要購買嗎',
						showCancelButton: true,
						icon: 'question',
						confirmButtonText: `確認`,
						cancelButtonText: '取消',
					}).then((result) => {
						if (result.isConfirmed) {
							// 先看商品能不能買
							axios.put(`${this.baseUrl}/product/tobuy`, {
								productId: this.data.productId,
								productStatus: 2,
							}).then(res => {
								// res錯誤
								if (res.data.code !== '0') return Swal.fire(res.data.msg, '', 'error')
								// res 成功 --> 產生訂單
								let purchase = { ...this.data };
								purchase["buyerId"] = this.userData.userId;
								purchase["buyerName"] = this.userData.userAccount;
								axios.post(`${this.baseUrl}/order`, purchase).then(res => { Swal.fire('購買成功', '', 'success') })
							});
							sessionStorage.setItem('store', this.userData.userId);
							setTimeout(() => { window.location.href = "user_store.html" }, 2000)
						}
					})
				},
				// 檢舉商品
				reportProduct() {
					if (Object.keys(this.reportList).length === 0) {
						Swal.fire('請選擇一個原因', '', 'error')
						return
					}
					this.reportList.productId = this.data.productId
					this.reportList.productName = this.data.productName
					this.reportList.productImgA = this.data.productImgA
					console.log(this.reportList)
					axios.post(`${this.baseUrl}/report`, this.reportList)
						.then((res) => {
							Swal.fire('提交成功', '', 'success')
						})
						.catch((err) => {
							console.log(err);
							Swal.fire('失敗', '', 'info')
						});
					this.reportList = {}
				},
				// 讀取額外商品資料
				storeLoad() {
					axios.get(`${this.baseUrl}/product/all`).then(res => {
						// 過濾 刪除 & 下架
						const arr = res.data.data.filter(item => item.productStatus == 1)
						this.storeList = arr.reverse().splice(0, 8);
					}).catch(err => console.log(err));
				},
				// 商品賣場跳轉
				toSellerStore(id) {
					sessionStorage.setItem('store', id)
					window.location.href = "user_store.html"
				},
				// 讀取商品地區 
				addressLoad(sellerId) {
					console.log(sellerId)
					// axios.get(`${this.baseUrl}/user/${sellerId}`).then(res => {
					// 	console.log(res)
					// })
				},
				// 加入最愛
				addFavorite(item) {
					// 先看清單中 是否有該商品
					const index = this.favoriteList.find(obj => obj.productId === item.productId)
					item.like = true;
					if (index) {
						Swal.fire('已經加到最愛囉!')
						return
					}
					this.favoriteList.push(item);
					Swal.fire({
						icon: 'success',
						title: '幫你加到最愛囉!',
						showConfirmButton: false,
						timer: 1500
					})
				},
				// 商品詳情跳轉
				toProduct(item) {
					this.data = item;
					this.sellerId = item.sellerId;
					this.commLoad();
					sessionStorage.setItem("詳情", item.productId)
					sessionStorage.setItem("sellerId", item.sellerId)
				},
				// 使用者登出
				logout() {
					this.userData = [];
					window.location.href = "home.html"
				},
				// 出售跳轉
				toUserAdd() {
					if (this.userData.userId != null) {
						window.location.href = "user_add.html"
						return;
					}
					Swal.fire('請先登入', '', 'info')
				},
				// 用戶賣場跳轉
				toUserStore() {
					sessionStorage.setItem('store', this.userData.userId);
					window.location.href = "user_store.html"
				},
				// 搜尋頁面跳轉
				toSearch() {
					sessionStorage.setItem('search', this.search);
					window.location.href = "search.html"
				}

			},

			computed: {
				// 評價計算
				sellerRate() {
					let total = 0;
					this.commList.forEach(item => { total += item.commLevel });
					let rate = (total / this.commList.length).toFixed(1);
					if (rate >= 5) {
						return 5
					} else if (isNaN(rate)) {
						return 0
					}
					return parseFloat(rate)
				},
			},

			mounted() {
				this.productId = sessionStorage.getItem('詳情') || 10;
				this.sellerId = sessionStorage.getItem('sellerId') || 1;
				this.productLoad();
				this.commLoad();
				this.storeLoad();
				this.favoriteList = JSON.parse(localStorage.getItem('最愛清單')) || [];
				this.userData = JSON.parse(sessionStorage.getItem('user')) || [];
			},
			// 監聽 favoriteList
			watch: {
				favoriteList: {
					handler() {
						localStorage.setItem('最愛清單', JSON.stringify(this.favoriteList));
					},
					deep: true,
				},
				userData: {
					handler() {
						sessionStorage.setItem('user', JSON.stringify(this.userData));
					},
					deep: true,
				}
			}


		})

		app.use(ElementPlus);
		app.mount('#app')
	</script>







</body>

</html>