<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
	<link rel="stylesheet" href="scss/all.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

	<title>搜尋</title>
</head>

<body class="mt-5">
	<div id="shopitem">
		<!-- 導覽列 -->
		<header class="bg-secondary text-white fixed-top">
			<div class="container">
				<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
					<!--LOGO-->
					<a class="navbar-brand" href="home.html">
						<img class="bi me-2" src="images/icon_1.png" alt="hopsellIcon" width="30" height="30">
					</a>
					<!--商品分類-->
					<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
						<li><a href="#" @click="categoryId = '時尚衣裝'" class="nav-link px-2 text-white">時尚衣裝</a></li>
						<li><a href="#" @click="categoryId = '精品配件'" class="nav-link px-2 text-white">精品配件</a></li>
						<li><a href="#" @click="categoryId = '3C家電'" class="nav-link px-2 text-white">3C家電</a></li>
						<li><a href="#" @click="categoryId = '書籍雜誌'" class="nav-link px-2 text-white">書籍雜誌</a></li>
						<li><a href="#" @click="categoryId = '娛樂休閒'" class="nav-link px-2 text-white">娛樂休閒</a></li>
						<li><a href="#" @click="categoryId = '居家生活'" class="nav-link px-2 text-white">居家生活</a></li>
					</ul>
					<!-- 登出按鈕 -->
					<div class="text-end" v-if="userData.userId != null">
						<i href="" class="">
							<el-image class="rounded-circle" :src="userData.userImg" alt="Icon"
								style="height: 30px;height: 30px; top: 9px; right: 5px;">
							</el-image>
						</i>
						<span class="dropdown">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
								data-bs-toggle="dropdown" aria-expanded="false">
								{{userData.userAccount}}
							</button>
							<ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton2">
								<li><a class="dropdown-item" href="user_settings.html"><i class="bi bi-gear pe-2"></i>用戶設定</a>
								</li>
								<li><a class="dropdown-item" href="" @click="logout"><i
											class="bi bi-box-arrow-right pe-2"></i>登出</a>
								</li>
							</ul>
						</span>
						<a href="user_store.html" class="btn btn-secondary"><i class="bi bi-shop"></i></a>
						<a href="user_favorite.html" class="btn btn-secondary"><i class="bi bi-heart"></i></a>
					</div>

					<!--登入按鈕-->
					<div class="text-end" v-else>
						<a href="login.html" type="button" class="btn btn-secondary ">登入</a>
						<a href="register.html" type="button" class="btn btn-secondary">註冊</a>
					</div>
				</div>
			</div>
		</header>
		<!-- 搜尋列 -->
		<div class="navbar ">
			<div class="container">
				<!--LOGO-->
				<a href="home.html"><img src="https://upload.cc/i1/2021/08/13/xDSmVg.png" alt="hopsellIcon" height="32"></a>
				<!--搜尋-->
				<div>
					<div class="container-fluid">
						<div class="d-flex">
							<input v-model="form.search" @keyup.enter="searchLoad" class="form-control" placeholder="搜尋商品、賣家"
								style="width: 30rem;">
							<button class="bi bi-search bg-white border-0 ms-1" @click="searchLoad"></button>
						</div>
					</div>
				</div>
				<div class="d-flex">
					<a class="btn fw-bold btn-danger px-4 me-2" @click="toUserAdd">出售</a>
				</div>
			</div>
		</div>

		<!--網頁內容-->
		<div class="container">
			<div class="d-flex ">
				<h4 class="p-3"><b>"{{form.search}}"的搜尋結果</b></h4>
			</div>
			<div class="row">
				<!-------------左側表單------------->
				<div class="col-md-3" style="max-width: 280px;">
					<p class="fs-6 fw-bolder">篩選</p>
					<!-- 搜尋分類 -->
					<select v-model="categoryId" class="form-select my-3 py-2">
						<option selected>所有分類</option>
						<option>時尚衣裝</option>
						<option>精品配件</option>
						<option>3C家電</option>
						<option>書籍雜誌</option>
						<option>娛樂休閒</option>
						<option>居家生活</option>
					</select>
					<!-- 分隔線 -->
					<hr class="text-muted">
					<p class="fs-6 fw-light py-1">商品狀況</p>
					<!-- 新舊程度 -->
					<div class="form-check">
						<input v-model="productCondition" value="新舊程度" class="form-check-input" type="radio"
							id="exampleRadios1" name="flexRadioDefault" checked>
						<label class="form-check-label" for="exampleRadios1">
							不拘
						</label>
					</div>
					<div class="form-check">
						<input v-model="productCondition" value="新品" class="form-check-input" type="radio" id="exampleRadios2"
							name="flexRadioDefault">
						<label class="form-check-label" for="exampleRadios2">
							新品
						</label>
					</div>
					<div class="form-check">
						<input v-model="productCondition" value="二手" class="form-check-input" type="radio" id="exampleRadios3"
							name="flexRadioDefault">
						<label class="form-check-label" for="exampleRadios3">
							二手
						</label>
					</div>
					<!-- 分隔線 -->
					<hr class="text-muted">
					<p class="fs-6 fw-normal">價位</p>
					<div class="row">
						<div class="col-sm-2 col-form-label">NT$</div>
						<div class="col-sm-10">
							<input v-model="minPrice" type="number" class="form-control" placeholder="最低">
						</div>
					</div>
					<div class="row pt-3">
						<div class="col-sm-2 col-form-label">NT$</div>
						<div class="col-sm-10">
							<input v-model="maxPrice" type="number" class="form-control" placeholder="最高">
						</div>
					</div>
					<!-- 分隔線 -->
					<hr class="text-muted">
					<p class="fs-6 fw-normal">交易方式</p>
					<div class="form-check">
						<input v-model="productTrade" class="form-check-input" type="checkbox" value="7-Eleven 取貨付款"
							id="flexCheck-1">
						<label class="form-check-label" for="flexCheck-1">
							7-Eleven 取貨付款
						</label>
					</div>
					<div class="form-check">
						<input v-model="productTrade" class="form-check-input" type="checkbox" value="面交" id="flexCheck-2">
						<label class="form-check-label" for="flexCheck-2">
							面交
						</label>
					</div>
					<div class="form-check">
						<input v-model="productTrade" class="form-check-input" type="checkbox" value="郵寄及宅配" id="flexCheck-3">
						<label class="form-check-label" for="flexCheck-3">
							郵寄及宅配
						</label>
					</div>


				</div>

				<!------------- 右側卡片 商品項目 ------------->

				<div class="col-md-9 border border-muted rounded-3" style="min-height: 850px;">
					<div class="row py-3">
						<!-------------- v-for ------------->
						<div v-for="item in filterTrade" class="col-md-3 mb-3">
							<div class="card pt-1">
								<div class="card-title d-flex ">
									<el-image class="rounded-circle m-2" :src="item.sellerImg"
										style="height: 32px; min-width: 32px;" fit="cover"></el-image>
									<div type="button" class="flex-column" @click="toSellerStore(item.sellerId)">
										<span class="">@{{item.sellerName}}</span><br>
										<span class="p-2">{{item.createTime}}</span>
									</div>
								</div>
								<div type="button" @click="toProduct(item)">
									<el-image class="card-img-top img-thumbnail-like px-1" :src="item.productImgA" fit="cover">
									</el-image>
								</div>
								<div class="card-block">
									<div class="px-2">
										<p class="card-text fs-6 text-truncate">
											{{item.productName}}
										</p>
									</div>
									<div class="px-2 d-flex flex-column mb-2">
										<div>
											<p class="card-text fs-5 fw-bold text-danger">NT${{item.productPrice}}</p>
										</div>
										<p class="card-text">{{item.productCondition}}</p>
									</div>
									<div class="d-flex justify-content-between">
										<i @click="addFavorite(item)" type="button" class="btn rounded-pill bi btn-sm"
											:class="item.like ? 'bg-white text-danger bi-heart-fill':'bi-heart' ">
										</i>
										<a href="#top" @click="toProduct(item)" type="button"
											class="btn bg-white btn-sm bi bi bi-search">
											詳情</a>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>





			</div>
		</div>
	</div>

	<!-- 置底 -->
	<div class="bg-secondary text-light mt-5">
		<div class="container">
			<footer class="d-flex flex-wrap justify-content-between align-items-center py-3  border-top ">
				<p class="col-md-4 mb-0 text-reset">© 2021 Company, Inc</p>

				<a href="/"
					class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
					<svg class="bi me-2" width="40" height="32">
						<use xlink:href="#bootstrap"></use>
					</svg>
				</a>

				<!-- <ul class="nav col-md-4 justify-content-end">
             <li class="nav-item"><a href="#" class="nav-link px-2 text-reset">Home</a></li>
             <li class="nav-item"><a href="#" class="nav-link px-2 text-reset">Features</a></li>
             <li class="nav-item"><a href="#" class="nav-link px-2 text-reset">Pricing</a></li>
             <li class="nav-item"><a href="#" class="nav-link px-2 text-reset">FAQs</a></li>
             <li class="nav-item"><a href="#" class="nav-link px-2 text-reset">About</a></li>
          </ul> -->
			</footer>
		</div>
	</div>


	<!-- bootstrap JS CDN-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<!-- Vue CDN -->
	<script src="https://unpkg.com/vue@next"></script>
	<!-- Jquery CDN -->
	<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
	<!-- axios -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
		integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<!-- 引入樣式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-plus@1.0.2-beta.71/lib/theme-chalk/index.css">
	<!-- 引入組件庫 -->
	<script src="https://unpkg.com/element-plus@1.0.2-beta.71/lib/index.full.js"></script>
	<!-- sweetalert2 -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



	<!-- vue.js -->
	<script>
		const app = Vue.createApp({
			data() {
				return {
					baseUrl: 'https://b3c7-1-168-192-69.ngrok.io',
					storeList: [],
					userData: [],
					categoryId: '所有分類',
					productCondition: '新舊程度',
					minPrice: '',
					maxPrice: '',
					productTrade: [],
					favoriteList: [],
					form: {},
				};
			},
			methods: {
				// 讀取搜尋商品資料
				searchLoad() {
					axios.get(`${this.baseUrl}/product/shelf`, {
						params: this.form
					}).then(res => {
						this.storeList = res.data.data.reverse();
						this.categoryId = '所有分類'
					})
				},
				// 商品詳情跳轉
				toProduct(item) {
					sessionStorage.setItem('詳情', item.productId)
					window.location.href = "product_detail.html"
				},
				// 商品賣場跳轉
				toSellerStore(id) {
					sessionStorage.setItem('store', id)
					sessionStorage.setItem("sellerId", item.sellerId)
					window.location.href = "user_store.html"
				},
				// 加入最愛
				addFavorite(item) {
					const index = this.favoriteList.find(obj => obj.productId === item.productId)
					item.like = true;
					console.log(item.like);
					if (index) {
						Swal.fire('已經加到最愛囉!')
						return
					}
					this.favoriteList.push(item);
					Swal.fire({
						icon: 'success',
						title: '幫你加到最愛囉!',
						showConfirmButton: false,
						timer: 1500
					})
				},
				// 使用者登出
				logout() {
					this.userData = [];
					Swal.fire('已登出')
					setTimeout(() => { window.location.href = "home.html" }, 1000)
				},
				// 出售跳轉
				toUserAdd() {
					if (this.userData.userId != null) {
						window.location.href = "user_add.html"
						return;
					}
					Swal.fire('請先登入', '', 'info')
				},
				// 用戶賣場跳轉
				toUserStore() {
					sessionStorage.setItem('store', this.userData.userId);
					window.location.href = "user_store.html"
				}
			},

			computed: {
				// 1.商品種類
				filterCategoryId() {
					switch (this.categoryId) {
						default: return this.storeList;
						case '時尚衣裝': return this.storeList.filter(item => item.categoryId == this.categoryId);
						case '精品配件': return this.storeList.filter(item => item.categoryId == this.categoryId);
						case '3C家電': return this.storeList.filter(item => item.categoryId == this.categoryId);
						case '書籍雜誌': return this.storeList.filter(item => item.categoryId == this.categoryId);
						case '娛樂休閒': return this.storeList.filter(item => item.categoryId == this.categoryId);
						case '居家生活': return this.storeList.filter(item => item.categoryId == this.categoryId);
					};
				},
				// 2.新舊程度
				filterCondition() {
					switch (this.productCondition) {
						default: return this.filterCategoryId;
						case '新品': return this.filterCategoryId.filter(item => item.productCondition == "全新" || item.productCondition == "幾乎全新")
						case '二手': return this.filterCategoryId.filter(item => item.productCondition == "狀況尚可" || item.productCondition == "狀況良好")
					}
				},
				// 3. 價位高低
				filterPrice() {
					switch (true) {
						default: return this.filterCondition;
						case this.minPrice > 0 && this.maxPrice > 0:
							return this.filterCondition.filter(item => item.productPrice >= this.minPrice && item.productPrice <= this.maxPrice);
						case this.maxPrice > 0: return this.filterCondition.filter(item => item.productPrice < this.maxPrice);
						case this.minPrice > 0: return this.filterCondition.filter(item => item.productPrice > this.minPrice);
					}
				},
				// 4.交易方式
				filterTrade() {
					switch (true) {
						default: return this.filterPrice;
						case this.productTrade.length == 2:
							return this.filterPrice.filter(item => item.productTrade == '面交' || item.productTrade == '7-Eleven 取貨付款')
						case this.productTrade.length == 3: return this.filterPrice;
						case this.productTrade == '面交': return this.filterPrice.filter(item => item.productTrade == '面交')
						case this.productTrade == '郵寄及宅配': return this.filterPrice.filter(item => item.productTrade == '郵寄及宅配')
						case this.productTrade == '7-Eleven 取貨付款': return this.filterPrice.filter(item => item.productTrade == '7-Eleven 取貨付款')
					}
				}
			},


			mounted() {
				this.form.search = sessionStorage.getItem('search') || '';
				this.searchLoad();
				this.favoriteList = JSON.parse(localStorage.getItem('最愛清單')) || [];
				this.userData = JSON.parse(sessionStorage.getItem('user')) || [];
			},
			// 監聽 favoriteList
			watch: {
				favoriteList: {
					handler() {
						localStorage.setItem('最愛清單', JSON.stringify(this.favoriteList));
					},
					deep: true,
				},
				userData: {
					handler() {
						sessionStorage.setItem('user', JSON.stringify(this.userData));
					},
					deep: true,
				},
				form: {
					handler() {
						sessionStorage.setItem('search', this.form.search);
					},
					deep: true,
				}
			}

		});
		app.use(ElementPlus);
		app.mount('#shopitem');



	</script>


</body>

</html>