<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!--ICON CDN-->
   <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
   <!--CSS-->
   <link rel="stylesheet" href="scss/all.css">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

   <title>追蹤商品</title>
</head>

<body>
   <header class="bg-secondary">
      <div class="container ">
         <!-- 導覽列 -->
         <div class="navbar">
            <div class="container-fluid ">
               <a href="home.html"><img src="images/icon_1.png" alt="hopsellIcon" height="32"></a>
               <div class="d-flex">
                  <button class="btn fw-bold btn-warning  px-4 me-2" data-bs-toggle="modal"
                     data-bs-target="#loginModal">登入</button>
                  <button class="btn fw-bold btn-light  px-4 d-none d-sm-block" data-bs-toggle="modal"
                     data-bs-target="#signupModal">註冊</button>
               </div>
            </div>
         </div>
      </div>
   </header>
   <div class="bg-warning sticky-top ">
      <div class="container ">
         <!-- 搜尋列 -->
         <div class="navbar ">
            <div class="container-fluid ">
               <a href="home.html"><img src="https://upload.cc/i1/2021/08/13/xDSmVg.png" alt="hopsellIcon"
                     height="32"></a>
               <div>
                  <div class="container-fluid ">
                     <form class="d-flex ">
                        <input class="form-control" type="search" placeholder="搜尋商品" aria-label="Search">
                        <button class="btn btn-outline-success px-4 me-2" type="submit">Serchd</button>
                     </form>
                  </div>
               </div>
               <div class="d-flex">
                  <a class="btn fw-bold btn-danger px-4 me-2" href="user_add.html">出售</a>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- 登入 -->
   <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-dialog">
         <div class="modal-content border-0 border-top border-warning border-3">
            <div class="modal-header ">
               <h5 class="modal-title fw-bold" id="loginModalLabel">登入</h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <form>
                  <div class="mb-3">
                     <label for="accountInput" class="form-label">帳號</label>
                     <input type="text" class="form-control" id="accountInput" aria-describedby="emailHelp"
                        placeholder="請輸入註冊信箱">
                  </div>
                  <div class="mb-3">
                     <label for="passwordInput" class="form-label">密碼</label>
                     <input type="password" class="form-control" id="passwordInput" placeholder="請輸入登入密碼">
                  </div>
                  <a href="#" class="text-secondary mb-3 d-block">忘記密碼?</a>
                  <button type="button" class="btn btn-warning rounded-pill fs-4 fw-bold w-100 mb-3"
                     data-bs-toggle="modal" data-bs-target="#BusyModal" data-bs-dismiss="modal">登入</button>
               </form>
               <div class="position-relative my-4">
                  <div class="progress" style="height: 2px;">
                     <div class="progress-bar bg-light" style="width: 100%" role="progressbar" aria-valuenow="0"
                        aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="d-flex position-absolute top-0 start-50 translate-middle text-dark fw-bold bg-white p-2">
                     還沒有帳號？<a href="#" class="text-danger" data-bs-toggle="modal" data-bs-dismiss="modal"
                        data-bs-target="#signupModal">註冊一個帳號</a>
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- 註冊 -->
   <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-dialog">
         <div class="modal-content border-0 border-top border-warning border-3">
            <div class="modal-header">
               <h5 class="modal-title fw-bold" id="loginModalLabel">註冊</h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <form>
                  <div class="mb-3">
                     <label for="signupAccountInput" class="form-label">帳號</label>
                     <input type="text" class="form-control" id="signupAccountInput" aria-describedby="emailHelp"
                        placeholder="請輸入常用的電子信箱">
                  </div>

                  <div class="mb-3">
                     <label for="passwordInput" class="form-label">密碼</label>
                     <input type="password" class="form-control" id="signupPasswordInput" placeholder="密碼至少６位英文或數字">
                  </div>
                  <div class="mb-3">
                     <label for="passwordInput" class="form-label">確認密碼</label>
                     <input type="password" class="form-control" id="signupPasswordInput_2" placeholder="兩次密碼需相符">
                  </div>

                  <div class="form-check mb-3">
                     <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     <label class="form-check-label" for="flexCheckDefault">
                        登入註冊即代表您同意使用者及隱私權政策
                     </label>
                  </div>

                  <button type="button" class="btn btn-warning rounded-pill fs-4 fw-bold w-100 mb-3"
                     data-bs-toggle="modal" data-bs-target="#BusyModal" data-bs-dismiss="modal">註冊</button>
               </form>
               <div class="position-relative my-4">
                  <div class="progress" style="height: 2px;">
                     <div class="progress-bar bg-light" style="width: 100%" role="progressbar" aria-valuenow="0"
                        aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="d-flex position-absolute top-0 start-50 translate-middle text-dark fw-bold bg-white p-2">
                     已經有帳號了嗎？<a href="#" class="text-danger" data-bs-toggle="modal" data-bs-dismiss="modal"
                        data-bs-target="#loginModal">登入</a>
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>





   <div class="container pt-1 ">
      <div class="d-flex justify-content-center align-items-center">
         <button class="btn btn-outline-dark m-4" onclick="history.back()">X</button>
         <div>
            <p class="h2 pt-2 ">你今天想賣出什麼商品？</p>
         </div>

      </div>
   </div>

   <div class="container">
      <div class="row d-flex justify-content-center" id="productAdd">
         <div class="col-md-4 mb-4 px-3">
            <div class="mx-5">
               <label for="formFileLg" class="form-label fs-4">選擇照片</label>
               <!-- <input class="form-control form-control-lg" id="formFileLg" type="file" @change="fileSelected">
               <img class="mt-3" v-if="image" :src="image" width="350"> -->
               <el-upload action="http://localhost:9090/files/upload" :on-success="filesUploadSuccess">
                  <el-button type="primary">點擊上傳</el-button>
               </el-upload>
               <el-image :src="form.productImgA" :preview-src-list="[form.productImgA]"></el-image>


            </div>
         </div>
         <div class="col-md-6">
            <hr class="d-block d-md-none my-6 my-md-0">
            <h2 class="h4 fw-bold mb-4 mb-md-6">商品內容</h2>
            <!--form-->
            <form novalidate="">
               <div class="mb-3">
                  <label for="" class="form-label  h6 text-secondary">選擇交易方式<span class="text-danger ms-1">*</span>
                  </label>
                  <select v-model="form.productTrade" class="form-select" name="分類">
                     <option disabled="">選擇交易方式</option>
                     <option value="1">7-Eleven 取貨付款</option>
                     <option value="2">郵寄及宅配</option>
                     <option value="3">面交</option>
                  </select>
                  <!---->
               </div>
               <div class="mb-3">
                  <label for="" class="form-label  h6 text-secondary">選擇分類<span class="text-danger ms-1">*</span>
                  </label>
                  <select v-model="form.categoryId" class="form-select" name="分類">
                     <option disabled="">選擇分類</option>
                     <option value="1">她的時尚</option>
                     <option value="2">名牌精品</option>
                     <option value="3">手機平板</option>
                  </select>
                  <!---->
               </div>
               <v-form @submit="onSubmit" v-slot="{errors}" class="mb-3">
                  <label for="" class="form-label h6 text-secondary">商品名稱 <span class="text-danger ms-1">*</span>
                  </label>
                  <v-field v-model="form.productName" type="text" class="form-control" placeholder="請輸入商品名稱" name="商品名稱"
                     :rules="isRequired">
                  </v-field>
                  <!---->
                  <error-message name="商品名稱"></error-message>
                  <button>Submit</button>
               </v-form>
               <h2 class="h4 fw-bold mb-4 mb-md-6">關於此商品</h2>
               <div class="mb-3">
                  <label for="name" class="form-label h6 text-secondary"> 新舊程度 <span class="text-danger ms-1">*</span>
                  </label>
                  <select v-model="form.productCondition" class="form-select" name="新舊程度">
                     <option disabled="">選擇分類</option>
                     <option value="1">全新</option>
                     <option value="2">幾乎全新</option>
                     <option value="3">狀況良好</option>
                     <option value="4">狀況尚可</option>
                  </select>
                  <!---->
               </div>
               <div class="mb-3">
                  <label for="" class="form-label h6 text-secondary">
                     價格<span class="text-danger ms-1">*</span>
                  </label>
                  <input v-model="form.productPrice" type="number" class="form-control" placeholder="NT$ 設定價位"
                     name="價格">
                  <!---->
               </div>
               <div class="mb-3 ">
                  <label for="message" class="form-label h6 text-secondary">商品描述</label>
                  <!--textarea 不能換行-->
                  <textarea v-model="form.productContent" name="" id="message" class="form-control"
                     style="height: 200px" placeholder="描述您所銷售的產品，並包含買家可能感興趣的任何細節。用戶們喜歡有故事的產品！"></textarea>
               </div>
               <div class="text-end">
                  <button type="submit" class="btn btn-success" @click="addProduct">立即刊登</button>
               </div>
            </form>
         </div>
      </div>
   </div>




   <!-- 置底 -->
   <div class="bg-secondary text-light mt-5">
      <div class="container">
         <footer class="d-flex flex-wrap justify-content-between align-items-center py-3  border-top ">
            <p class="col-md-4 mb-0 text-reset">© 2021 Company, Inc</p>

            <a href="/"
               class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
               <svg class="bi me-2" width="40" height="32">
                  <use xlink:href="#bootstrap"></use>
               </svg>
            </a>

            <ul class="nav col-md-4 justify-content-end">
               <li class="nav-item"><a href="#" class="nav-link px-2 text-reset">Home</a></li>
               <li class="nav-item"><a href="#" class="nav-link px-2 text-reset">Features</a></li>
               <li class="nav-item"><a href="#" class="nav-link px-2 text-reset">Pricing</a></li>
               <li class="nav-item"><a href="#" class="nav-link px-2 text-reset">FAQs</a></li>
               <li class="nav-item"><a href="#" class="nav-link px-2 text-reset">About</a></li>
            </ul>
         </footer>
      </div>
   </div>








   <!-- bootstrap JS CDN-->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
   <!-- Vue CDN -->
   <script src="https://unpkg.com/vue@next"></script>
   <script src="./js/data.js"></script>
   <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   <!-- VeeValidate CDN -->
   <script src="https://unpkg.com/vee-validate@next"></script>
   <!-- axios -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
      integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <!-- 引入样式 -->
   <link rel="stylesheet" href="https://unpkg.com/element-plus/lib/theme-chalk/index.css">
   <!-- 引入组件库 -->
   <script src="https://unpkg.com/element-plus/lib/index.full.js"></script>

   <script type="module">
      console.log(VeeValidate);
      const app = Vue.createApp({
         components: {
            VForm: VeeValidate.Form,
            VField: VeeValidate.Field,
            ErrorMessage: VeeValidate.ErrorMessage,
         },



         data() {
            return {
               image: '',
               form: {"sellerId": 1,},
               baseUrl:'http://localhost:9090/product',
            }
         },
         methods: {
            // 新增圖片
            fileSelected(evt) {
               const file = evt.target.files.item(0);
               console.log(file);
               const reader = new FileReader();
               reader.addEventListener('load', this.imageLoaded);
               reader.readAsDataURL(file);
            },
            imageLoaded(evt) {
               this.image = evt.target.result;
            },
            onSubmit(value) {
               console.log(value)
            },
            isRequired(value) {
               if (!value) {
                  return '此欄是必填'
               }
               return true;
            },
            addProduct() {
               axios.post(this.baseUrl, this.form)
                  .then((res) => {
                     console.log(res);
                  })
                  .catch((err) => {
                     console.log(err);
                  });
               this.form = {};
            },
            filesUploadSuccess(res) {
               console.log(res.data)
               sessionStorage.setItem("upload", JSON.stringify(res.data))  // 緩存用戶資料
               this.form.productImgA = res.data
            },
         },
         mounted() {
            let url = sessionStorage.getItem("upload") || "{}"
            this.form.productImgA = JSON.parse(url)
         }
      });
      app.use(ElementPlus);
      app.mount('#productAdd')

   </script>



</body>

</html>