<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--ICON CDN-->
	<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
	<!--CSS-->
	<link rel="stylesheet" href="scss/all.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

	<title>編輯商品</title>
</head>

<body class="mt-5">
	<div id="productAdd">
		<header class="bg-secondary text-white fixed-top">
			<div class="container">
				<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
					<!--LOGO-->
					<a class="navbar-brand" href="home.html">
						<img class="bi me-2" src="images/icon_1.png" alt="hopsellIcon" width="30" height="30">
					</a>
					<!--商品分類-->
					<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
						<li><a href="#" class="nav-link px-2 text-white">時尚衣裝</a></li>
						<li><a href="#" class="nav-link px-2 text-white">精品配件</a></li>
						<li><a href="#" class="nav-link px-2 text-white">3C家電</a></li>
						<li><a href="#" class="nav-link px-2 text-white">書籍雜誌</a></li>
						<li><a href="#" class="nav-link px-2 text-white">娛樂休閒</a></li>
						<li><a href="#" class="nav-link px-2 text-white">居家生活</a></li>
					</ul>
					<!-- 登出按鈕 -->
					<div class="text-end" v-if="userData.userId != null">
						<i href="" class="">
							<el-image class="rounded-circle" :src="userData.userImg" alt="Icon"
								style="height: 30px;height: 30px; top: 9px; right: 5px;">
							</el-image>
						</i>
						<span class="dropdown">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
								data-bs-toggle="dropdown" aria-expanded="false">
								{{userData.userAccount}}
							</button>
							<ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton2">
								<li><a class="dropdown-item" href="user_settings.html"><i class="bi bi-gear pe-2"></i>用戶設定</a>
								</li>
								<li><button class="dropdown-item" type="button" @click="logout">
										<i class="bi bi-box-arrow-right pe-2"></i>登出</button>
								</li>
							</ul>
						</span>
						<a href="user_store.html" class="btn btn-secondary"><i class="bi bi-shop"></i></a>
						<a href="user_favorite.html" class="btn btn-secondary"><i class="bi bi-heart"></i></a>
					</div>

					<!--登入按鈕-->
					<div class="text-end" v-else>
						<a href="login.html" type="button" class="btn btn-secondary ">登入</a>
						<a href="register.html" type="button" class="btn btn-secondary">註冊</a>
					</div>
				</div>
			</div>
		</header>
		<!-- 搜尋列 -->
		<div class="navbar ">
			<div class="container">
				<!--LOGO-->
				<a href="home.html"><img src="https://upload.cc/i1/2021/08/13/xDSmVg.png" alt="hopsellIcon" height="32"></a>
				<!--搜尋-->
				<div>
					<div class="container-fluid">
						<div class="d-flex">
							<input v-model="search" @keyup.enter="toSearch" class="form-control" placeholder="搜尋商品"
								style="width: 30rem;">
							<button @click="toSearch" class="bi bi-search bg-white border-0 ms-1"></button>
						</div>
					</div>
				</div>
				<div class="d-flex">
					<a href="user_add.html" class="btn fw-bold btn-danger px-4 me-2">出售</a>
				</div>
			</div>
		</div>


		<!-- 網頁內容 -->


		<div class="container pt-2 ">
			<div class="d-flex justify-content-between" style="height: 50px;">
				<button type="button" class="mx-3 bg-white border-muted rounded border border-1" aria-label="Close"
					onclick="history.back()">返回上一頁</button>
				<div>
					<p class="h2 pt-2 fw-bold">更新商品</p>
				</div>
				<div style="width: 93px;"></div>

			</div>
			<hr>
		</div>

		<div class="container">
			<div class="row d-flex justify-content-center">
				<!-- <div class="col-md-4 mb-4 px-3 demo-image__laz">
					<div class="mx-5">
						<label for="formFileLg" class="form-label fs-4 fw-bold">選擇照片A</label>
						<el-upload action="http://localhost:9090/files/upload" :on-success="filesUploadSuccess">
							<el-button type="info" style="background-color: #2C2C2D;">點擊上傳</el-button>
						</el-upload>
						<el-image class="pt-2" style="height: 200px;width: 312px;" fit="cover" :src="form.productImgA" lazy
							:preview-src-list="[form.productImgA]"></el-image>
					</div>
					<div class="mx-5">
						<label for="formFileLg" class="form-label fs-4 fw-bold">選擇照片B</label>
						<input v-model="form.productImgB" type="text" class="form-control" placeholder="請輸入圖片url" name="價格">
						<el-image class="pt-2" style="height: 200px;width: 312px;" :src="form.productImgB" lazy
							:preview-src-list="[form.productImgB]" fit="cover"></el-image>
					</div>
					<div class="mx-5">
						<label for="formFileLg" class="form-label fs-4 fw-bold">選擇照片C</label>
						<input v-model="form.productImgC" type="text" class="form-control" placeholder="請輸入圖片url" name="價格">
						<el-image class="pt-2" style="height: 200px;width: 312px;" :src="form.productImgC" lazy
							:preview-src-list="[form.productImgC]" fit="cover"></el-image>
					</div>
				</div> -->

				<div class="col-md-7">
					<!---------form--------->

					<div class="d-flex justify-content-evenly">
						<div>
							<el-image class="pt-2" style="height: 200px;width: 200px;" fit="cover" :src="form.productImgA" lazy
								:preview-src-list="[form.productImgA]"></el-image>
							<el-upload action="http://localhost:9090/files/upload" :on-success="filesUploadSuccessA">
								<el-button type="info" style="background-color: #2C2C2D;">點擊上傳</el-button>
							</el-upload>
						</div>
						<div>
							<el-image class="pt-2" style="height: 200px;width: 200px;" :src="form.productImgB" lazy
								:preview-src-list="[form.productImgB]" fit="cover"></el-image>
							<el-upload action="http://localhost:9090/files/upload" :on-success="filesUploadSuccessB">
								<el-button type="info" style="background-color: #2C2C2D;">點擊上傳</el-button>
							</el-upload>
						</div>
						<div>
							<el-image class="pt-2" style="height: 200px;width: 200px;" :src="form.productImgC" lazy
								:preview-src-list="[form.productImgC]" fit="cover"></el-image>
							<el-upload action="http://localhost:9090/files/upload" :on-success="filesUploadSuccessC">
								<el-button type="info" style="background-color: #2C2C2D;">點擊上傳</el-button>
							</el-upload>
						</div>
					</div>


					<el-form class="mt-4" ref="form" :model="form" label-position="left" label-width="110px">
						<div class="p-2">
							<el-form-item label="商品名稱" class="mb-4" prop="productName">
								<el-input prefix-icon="" placeholder="請輸入商品名稱" v-model="form.productName">
								</el-input>
							</el-form-item>
							<el-form-item label="選擇分類" class="mb-4" prop="categoryId">
								<el-select v-model="form.categoryId" placeholder="選擇分類" style="width: 614px;">
									<el-option label="時尚衣裝" value="時尚衣裝"></el-option>
									<el-option label="精品配件" value="精品配件"></el-option>
									<el-option label="3C家電" value="3C家電"></el-option>
									<el-option label="書籍雜誌" value="書籍雜誌"></el-option>
									<el-option label="娛樂休閒" value="娛樂休閒"></el-option>
									<el-option label="居家生活" value="居家生活"></el-option>
								</el-select>
							</el-form-item>
							<el-form-item label="選擇新舊程度" class="mb-4" prop="productCondition">
								<el-radio-group v-model="form.productCondition">
									<el-radio label="全新" value="全新"></el-radio>
									<el-radio label="幾乎全新" value="幾乎全新"></el-radio>
									<el-radio label="狀況良好" value="狀況良好"></el-radio>
									<el-radio label="狀況尚可" value="狀況尚可"></el-radio>
								</el-radio-group>
							</el-form-item>
							<el-form-item label="選擇交易方式" class="mb-4" prop="productTrade">
								<el-radio-group v-model="form.productTrade">
									<el-radio label="7-Eleven 取貨付款" value="7-Eleven 取貨付款"></el-radio>
									<el-radio label="郵寄及宅配" value="郵寄及宅配"></el-radio>
									<el-radio label="面交" value="面交"></el-radio>
								</el-radio-group>
							</el-form-item>
							<el-form-item label="選擇交易方式" class="mb-4 d-flex" prop="productPrice">
								<el-input placeholder="NT$ 設定價位" prefix-icon="" v-model="form.productPrice" type="number">
								</el-input>
							</el-form-item>
							<el-form-item label="商品描述" class="mb-4">
								<el-input style="font-size: 1rem;" rows="7" type="textarea" v-model="form.productContent"
									placeholder="描述您所銷售的產品，並包含買家可能感興趣的任何細節。用戶們喜歡有故事的產品！">
								</el-input>
							</el-form-item>
							<el-form-item class="text-end mt-4">
								<button type="button" class="btn btn-danger mx-3" @click="deleteProduct">刪除商品</button>
								<el-button @click="addProduct" style="background-color: #2C2C2D;color: #fff;">更新商品</el-button>
							</el-form-item>
						</div>
					</el-form>
				</div>

			</div>
		</div>
		<!-------------------- END APP----------------------->
	</div>





	<!-- 置底 -->
	<div class="bg-secondary text-light mt-5">
		<div class="container">
			<footer class="d-flex flex-wrap justify-content-between align-items-center py-3  border-top ">
				<p class="col-md-4 mb-0 text-reset">© 2021 Company, Inc</p>

				<a href="/"
					class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
					<svg class="bi me-2" width="40" height="32">
						<use xlink:href="#bootstrap"></use>
					</svg>
				</a>

				<!-- <ul class="nav col-md-4 justify-content-end">
               <li class="nav-item"><a href="#" class="nav-link px-2 text-reset">Home</a></li>
               <li class="nav-item"><a href="#" class="nav-link px-2 text-reset">Features</a></li>
               <li class="nav-item"><a href="#" class="nav-link px-2 text-reset">Pricing</a></li>
               <li class="nav-item"><a href="#" class="nav-link px-2 text-reset">FAQs</a></li>
               <li class="nav-item"><a href="#" class="nav-link px-2 text-reset">About</a></li>
            </ul> -->
			</footer>
		</div>
	</div>








	<!-- bootstrap JS CDN-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<!-- Vue CDN -->
	<script src="https://unpkg.com/vue@next"></script>
	<!-- axios -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
		integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<!-- Element 引入樣式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-plus@1.0.2-beta.71/lib/theme-chalk/index.css">
	<!-- Element 引入组件庫 -->
	<script src="https://unpkg.com/element-plus@1.0.2-beta.71/lib/index.full.js"></script>
	<!-- sweetalert2 -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


	<script type="module">

		const app = Vue.createApp({



			data() {
				return {
					image: '',
					form: {},
					deleteForm: { productStatus: -1, productId: '' },
					baseUrl: 'https://b3c7-1-168-192-69.ngrok.io/product',
					userData: [],
					search: '',
				}
			},
			methods: {
				// 驗證測試
				onSubmit(value) {
					console.log(value)
				},
				isRequired(value) {
					if (!value) {
						return '此欄是必填'
					}
					return true;
				},
				// 更新商品
				addProduct() {
					Swal.fire({
						title: '確定要更新嗎',
						showCancelButton: true,
						confirmButtonText: `確認`,
						cancelButtonText: '取消',
					}).then((result) => {
						if (result.isConfirmed) {
							if (!this.form.productId) { Swal.fire('失敗', '', 'info'); return }
							axios.put(this.baseUrl, this.form)
								.then((res) => {
									Swal.fire('商品已更新', '', 'success')
								})
								.catch((err) => {
									console.log(err);
									Swal.fire('失敗', '', 'info')
								});
							this.form = {};
							sessionStorage.setItem('store', this.userData.userId);
							setTimeout(() => {
								window.location.href = "user_store.html"
							}, 2000)
						}
					})
				},
				// 刪除商品
				deleteProduct() {
					Swal.fire({
						title: '確定要刪除嗎',
						icon: 'info',
						showCancelButton: true,
						confirmButtonText: `確認`,
						cancelButtonText: '取消',
					}).then((result) => {
						if (result.isConfirmed) {
							if (!this.form.productId) { Swal.fire('失敗', '', 'info'); return }
							this.deleteForm.productId = this.form.productId
							console.log(this.deleteForm.productId)
							axios.put(this.baseUrl, this.deleteForm)
								.then((res) => {
									Swal.fire('商品已刪除', '', 'success')
								})
								.catch((err) => {
									console.log(err);
									Swal.fire('失敗', '', 'info')
								});
							this.form = {};
							setTimeout(() => {
								window.location.href = "user_store.html"
							}, 2000)
						}
					})
				},
				// 存圖片url
				filesUploadSuccessA(res) {
					this.form.productImgA = res.data
				},
				filesUploadSuccessB(res) {
					this.form.productImgB = res.data
				},
				filesUploadSuccessC(res) {
					this.form.productImgC = res.data
				},
				// 使用者登出
				logout() {
					this.userData = [];
					Swal.fire('已登出')
					setTimeout(() => { window.location.href = "home.html" }, 1000)
				},
				// 出售跳轉
				toUserAdd() {
					if (this.userData.userId != null) {
						window.location.href = "user_add.html"
						return;
					}
					Swal.fire('請先登入', '', 'info')
				},
				// 搜尋頁面跳轉
				toSearch() {
					sessionStorage.setItem('search', this.search);
					window.location.href = "search.html"
				}
			},
			// 
			mounted() {
				this.form = JSON.parse(sessionStorage.getItem('編輯')) || [];
				this.userData = JSON.parse(sessionStorage.getItem('user')) || [];
			},
			// 監聽 form
			watch: {
				form: {
					handler() {
						sessionStorage.setItem('編輯', JSON.stringify(this.form));
					},
					deep: true,
				},
				userData: {
					handler() {
						sessionStorage.setItem('user', JSON.stringify(this.userData));
					},
					deep: true,
				}
			}
		});
		app.use(ElementPlus);
		app.mount('#productAdd')

	</script>



</body>

</html>