<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--ICON CDN-->
	<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
	<!--CSS-->
	<link rel="stylesheet" href="scss/all.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

	<title>新增商品</title>
</head>

<body class="mt-5">
	<div id="productAdd">
		<header class="bg-secondary text-white fixed-top">
			<div class="container">
				<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
					<!--LOGO-->
					<a class="navbar-brand" href="home.html">
						<img class="bi me-2" src="images/icon_1.png" alt="hopsellIcon" width="30" height="30">
					</a>
					<!--商品分類-->
					<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
						<li><a href="#" class="nav-link px-2 text-white">時尚衣裝</a></li>
						<li><a href="#" class="nav-link px-2 text-white">精品配件</a></li>
						<li><a href="#" class="nav-link px-2 text-white">3C家電</a></li>
						<li><a href="#" class="nav-link px-2 text-white">書籍雜誌</a></li>
						<li><a href="#" class="nav-link px-2 text-white">娛樂休閒</a></li>
						<li><a href="#" class="nav-link px-2 text-white">居家生活</a></li>
					</ul>
					<!-- 登出按鈕 -->
					<div class="text-end" v-if="userData.userId != null">
						<i href="" class="">
							<el-image class="rounded-circle" :src="userData.userImg" alt="Icon"
								style="height: 30px;height: 30px; top: 9px; right: 5px;">
							</el-image>
						</i>
						<span class="dropdown">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
								data-bs-toggle="dropdown" aria-expanded="false">
								{{userData.userAccount}}
							</button>
							<ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton2">
								<li><a class="dropdown-item" href="user_settings.html"><i class="bi bi-gear pe-2"></i>用戶設定</a>
								</li>
								<li><a class="dropdown-item" href="home.html" @click="logout"><i
											class="bi bi-box-arrow-right pe-2"></i>登出</a>
								</li>
							</ul>
						</span>
						<a href="user_store.html" class="btn btn-secondary"><i class="bi bi-shop"></i></a>
						<a href="user_favorite.html" class="btn btn-secondary"><i class="bi bi-heart"></i></a>
					</div>

					<!--登入按鈕-->
					<div class="text-end" v-else>
						<a href="login.html" type="button" class="btn btn-secondary ">登入</a>
						<a href="register.html" type="button" class="btn btn-secondary">註冊</a>
					</div>
				</div>
			</div>
		</header>
		<!-- 搜尋列 -->
		<div class="navbar ">
			<div class="container">
				<!--LOGO-->
				<a href="home.html"><img src="https://upload.cc/i1/2021/08/13/xDSmVg.png" alt="hopsellIcon" height="32"></a>
				<!--搜尋-->
				<div>
					<div class="container-fluid">
						<div class="d-flex">
							<input v-model="search" @keyup.enter="toSearch" class="form-control" placeholder="搜尋商品"
								style="width: 30rem;">
							<button @click="toSearch" class="bi bi-search bg-white border-0 ms-1"></button>
						</div>
					</div>
				</div>
				<div class="d-flex">
					<a class="btn fw-bold btn-danger px-4 me-2" @click="toUserAdd">出售</a>
				</div>
			</div>
		</div>


		<!-- 網頁內容 -->


		<div class="container pt-2 ">
			<div class="d-flex justify-content-between" style="height: 50px;">
				<button type="button" class="mx-3 bg-white border-muted rounded border border-1" aria-label="Close"
					onclick="history.back()">返回上一頁</button>
				<div>
					<p class="h2 pt-2 fw-bold">你今天想賣出什麼商品？</p>
				</div>
				<div style="width: 93px;"></div>

			</div>
			<hr>
		</div>

		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-md-4 mb-4 px-3">
					<div class="mx-5">
						<label for="formFileLg" class="form-label fs-4 fw-bold">選擇照片A</label>
						<el-upload action="http://localhost:9090/files/upload" :on-success="filesUploadSuccess">
							<el-button type="info" style="background-color: #2C2C2D;">點擊上傳</el-button>
						</el-upload>
						<el-image class="pt-2" style="height: 200px;width: 312px;" fit="cover" :src="form.productImgA"
							:preview-src-list="[form.productImgA]"></el-image>
					</div>
					<div class="mx-5">
						<label for="formFileLg" class="form-label fs-4 fw-bold">選擇照片B</label>
						<input v-model="form.productImgB" type="text" class="form-control" placeholder="請輸入圖片url" name="價格">
						<el-image class="pt-2" style="height: 200px;width: 312px;" :src="form.productImgB"
							:preview-src-list="[form.productImgB]" fit="cover"></el-image>
					</div>
					<div class="mx-5">
						<label for="formFileLg" class="form-label fs-4 fw-bold">選擇照片C</label>
						<input v-model="form.productImgC" type="text" class="form-control" placeholder="請輸入圖片url" name="價格">
						<el-image class="pt-2" style="height: 200px;width: 312px;" :src="form.productImgC"
							:preview-src-list="[form.productImgC]" fit="cover"></el-image>
					</div>
				</div>
				<div class="col-md-6 ">
					<hr class="d-block d-md-none my-6 my-md-0">
					<h2 class="h4 fw-bold mb-4 mb-md-6">商品內容</h2>
					<!--form-->
					<div novalidate="">
						<div class="mb-3">
							<label for="" class="form-label  h6 text-secondary">選擇交易方式<span class="text-danger ms-1">*</span>
							</label>
							<select v-model="form.productTrade" class="form-select" name="分類">
								<option disabled="">選擇交易方式</option>
								<option value="7-Eleven 取貨付款">7-Eleven 取貨付款</option>
								<option value="郵寄及宅配">郵寄及宅配</option>
								<option value="面交">面交</option>
							</select>
							<!---->
						</div>
						<div class="mb-3">
							<label for="" class="form-label  h6 text-secondary">選擇分類<span class="text-danger ms-1">*</span>
							</label>
							<select v-model="form.categoryId" class="form-select" name="分類">
								<option disabled="">選擇分類</option>
								<option value="時尚衣裝">時尚衣裝</option>
								<option value="精品配件">精品配件</option>
								<option value="3C家電">3C家電</option>
								<option value="書籍雜誌">書籍雜誌</option>
								<option value="娛樂休閒">娛樂休閒</option>
								<option value="居家生活">居家生活</option>
							</select>
							<!---->
						</div>
						<v-form @submit="onSubmit" v-slot="{errors}" class="mb-3">
							<label for="" class="form-label h6 text-secondary">商品名稱 <span class="text-danger ms-1">*</span>
							</label>
							<v-field v-model="form.productName" type="text" class="form-control" placeholder="請輸入商品名稱"
								name="商品名稱" :rules="isRequired">
							</v-field>
							<!---->
							<error-message name="商品名稱"></error-message>
						</v-form>
						<h2 class="h4 fw-bold mb-4 mb-md-6">關於此商品</h2>
						<div class="mb-3">
							<label for="name" class="form-label h6 text-secondary"> 新舊程度 <span
									class="text-danger ms-1">*</span>
							</label>
							<select v-model="form.productCondition" class="form-select" name="新舊程度">
								<option disabled="">選擇分類</option>
								<option value="全新">全新</option>
								<option value="幾乎全新">幾乎全新</option>
								<option value="狀況良好">狀況良好</option>
								<option value="狀況尚可">狀況尚可</option>
							</select>
							<!---->
						</div>
						<div class="mb-3">
							<label for="" class="form-label h6 text-secondary">
								價格<span class="text-danger ms-1">*</span>
							</label>
							<input v-model="form.productPrice" type="number" class="form-control" placeholder="NT$ 設定價位"
								name="價格">
							<!---->
						</div>
						<div class="mb-3 ">
							<label for="message" class="form-label h6 text-secondary">商品描述</label>
							<!--textarea 不能換行-->
							<textarea v-model="form.productContent" name="" id="message" class="form-control"
								style="height: 200px" placeholder="描述您所銷售的產品，並包含買家可能感興趣的任何細節。用戶們喜歡有故事的產品！"></textarea>
						</div>
						<div class="text-end d-flex justify-content-between">
							<div>
								<a type="button" class="" @click="addList">.</a>
							</div>
							<button type="button" class="btn btn-secondary" @click="addProduct">立即刊登</button>
						</div>
					</div>
				</div>
				<!-------------------- END APP----------------------->
			</div>
		</div>
	</div>





	<!-- 置底 -->
	<div class="bg-secondary text-light mt-5">
		<div class="container">
			<footer class="d-flex flex-wrap justify-content-between align-items-center py-3  border-top ">
				<p class="col-md-4 mb-0 text-reset">© 2021 Company, Inc</p>

				<a href="/"
					class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
					<svg class="bi me-2" width="40" height="32">
						<use xlink:href="#bootstrap"></use>
					</svg>
				</a>

				<!-- <ul class="nav col-md-4 justify-content-end">
               <li class="nav-item"><a href="#" class="nav-link px-2 text-reset">Home</a></li>
               <li class="nav-item"><a href="#" class="nav-link px-2 text-reset">Features</a></li>
               <li class="nav-item"><a href="#" class="nav-link px-2 text-reset">Pricing</a></li>
               <li class="nav-item"><a href="#" class="nav-link px-2 text-reset">FAQs</a></li>
               <li class="nav-item"><a href="#" class="nav-link px-2 text-reset">About</a></li>
            </ul> -->
			</footer>
		</div>
	</div>








	<!-- bootstrap JS CDN-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<!-- Vue CDN -->
	<script src="https://unpkg.com/vue@next"></script>
	<!-- VeeValidate CDN -->
	<script src="https://unpkg.com/vee-validate@next"></script>
	<!-- axios -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
		integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<!-- Element 引入樣式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-plus@1.0.2-beta.71/lib/theme-chalk/index.css">
	<!-- Element 引入组件庫 -->
	<script src="https://unpkg.com/element-plus@1.0.2-beta.71/lib/index.full.js"></script>
	<!-- sweetalert2 -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


	<script type="module">
		console.log(VeeValidate);
		const app = Vue.createApp({

			// 驗證套件
			components: {
				VForm: VeeValidate.Form,
				VField: VeeValidate.Field,
				ErrorMessage: VeeValidate.ErrorMessage,
			},

			data() {
				return {
					image: '',
					form: {},
					baseUrl: 'http://localhost:9090/product',
					userData: [],
					search: '',
				}
			},
			methods: {
				// 驗證測試
				onSubmit(value) {
					console.log(value)
				},
				isRequired(value) {
					if (!value) {
						return '此欄是必填'
					}
					return true;
				},
				// 刊登商品
				addProduct() {
					Swal.fire({
						title: '確定要刊登嗎',
						showCancelButton: true,
						confirmButtonText: `確認`,
						cancelButtonText: '取消',
					}).then((result) => {
						if (result.isConfirmed) {
							this.form.sellerId = this.userData.userId
							this.form.sellerName = this.userData.userAccount
							this.form.sellerImg = this.userData.userImg

							axios.post(this.baseUrl, this.form)
								.then(res => {
									Swal.fire('商品已刊登', '', 'success')
								})
								.catch(err => {
									console.log(err);
									Swal.fire('失敗', '', 'info')
								});
							this.form = {};
							setTimeout(() => {
								window.location.href = "user_store.html"
							}, 2000)
						}
					})
				},
				// 存圖片url
				filesUploadSuccess(res) {
					console.log(res.data)
					sessionStorage.setItem("upload", JSON.stringify(res.data))  // 緩存用戶資料
					this.form.productImgA = res.data
				},
				addList() {
					const list = {
						sellerId: this.userData.userId,
						sellerName: this.userData.userAccount,
						sellerImg: this.userData.userImg,
						productName: "實拍現貨~高貴華爾緞短款修身顯瘦襯衫女氣質套裝裙高級感兩件套",
						productPrice: "860",
						productCondition: "全新",
						categoryId: "時尚衣裝",
						productTrade: "郵寄及宅配",
						productImgA: "https://upload.cc/i1/2021/08/13/IlYc4K.jpg",
						productImgB: "https://upload.cc/i1/2021/08/13/V7zYiM.jpg",
						productImgC: "https://upload.cc/i1/2021/08/13/gWvoPQ.jpg",
						productContent: `商品定價：代購約2500-3000
                                    商品尺寸：S號 版型偏大
                                    肩寬48胸寬56衣長72cm
                                    商品狀況：95%
                                    台灣沒有發售這個配色
                                    商品照片皆為本人實體拍攝
                                    提供商品實體測量數據參考
                                    購買前可先詢問 或 參考賣場簡介✔️✔️✔️
                                    喜歡的各位可點選本賣場首頁《追蹤》
                                    才不會遺漏最新上架的商品`,
					};
					this.form = list;
				},
				// 使用者登出
				logout() {
					this.userData = [];
					Swal.fire('已登出')
					setTimeout(() => { window.location.href = "home.html" }, 1000)
				},
				// 出售跳轉
				toUserAdd() {
					if (this.userData.userId != null) {
						window.location.href = "user_add.html"
						return;
					}
					Swal.fire('請先登入', '', 'info')
				},
				// 搜尋頁面跳轉
				toSearch() {
					sessionStorage.setItem('search', this.search);
					window.location.href = "search.html"
				}
			},
			mounted() {
				let url = sessionStorage.getItem("upload") || "{}"
				this.form.productImgA = JSON.parse(url)
				this.userData = JSON.parse(sessionStorage.getItem('user')) || [];
			},
			// 監聽 favoriteList
			watch: {
				userData: {
					handler() {
						sessionStorage.setItem('user', JSON.stringify(this.userData));
					},
					deep: true,
				}
			}
		});
		app.use(ElementPlus);
		app.mount('#productAdd')

	</script>



</body>

</html>